.contacts-list
  display: grid
  justify-content: center
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr))

.no-results
    padding: 24px 0
    justify-content: center
    align-items: center
    grid-template-columns: auto
    img
      max-height: 500px
      max-width: 100%
      height: auto
      display: block
    
