<div class="contacts-list" *ngIf="contacts$ | async">
    <app-contact-list-item *ngFor="let contact of contacts$ | async; trackBy: contactsTrackByFn" [isInList]="true"
                           [contact]="contact" (show)="showContact($event)" (remove)="deleteContact($event)"
                           (edit)="editContact($event)">
    </app-contact-list-item>
</div>
<div class="contacts-list no-results" *ngIf="(contacts$ | async).length === 0">
    <img src="assets/icons/illustration.png" />
</div>
