<app-contact-card [cardTitleTemplate]="cardTitleTemplate" [cardInfoTemplate]="cardInfoTemplate"
  [cardActionTemplate]="cardActionTemplate">

  <ng-template #cardTitleTemplate>
    <span *ngIf="isInList; else title">{{contact.name}}</span>
    <ng-template #title>Contact details</ng-template>
  </ng-template>

  <ng-template #cardInfoTemplate>
    <div *ngIf="!isInList" class="flex f-align-center mb8">
      <mat-icon class="mr8">person</mat-icon>{{contact.name}}
    </div>
    <div class="flex f-align-center mb8">
      <mat-icon class="mr4">email</mat-icon>{{contact.email}}
    </div>
    <div class="flex f-align-center mb8">
      <mat-icon class="mr4">smartphone</mat-icon>{{contact.phone}}
    </div>
  </ng-template>

  <ng-template #cardActionTemplate>
    <button *ngIf="isInList" (click)="showDetails(contact)" mat-stroked-button color="primary">Details</button>
    <button (click)="editContact(contact)" mat-stroked-button color="primary">Edit</button>
    <button (click)="deleteContact(contact)" mat-stroked-button color="warn">Delete</button>
  </ng-template>
</app-contact-card