<nav class="navbar">
  <div class="navbar-title" [routerLink]="['/contacts']">
    <img src="assets/icons/angular_white.png" width="60" />
    <h1>Angular contacts</h1>
  </div>
  <div class="navibar-actions">
    <button class="header-add-button"
            *ngIf="isShowAdd$ | async"
            mat-stroked-button
            [routerLink]="['/contacts','new']">
      <mat-icon class="mr4">add</mat-icon>Add
    </button>
    <button class="float-add-button"
            *ngIf="isShowAdd$ | async"
            mat-fab color="primary"
            [routerLink]="['/contacts','new']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</nav>
