@import "../../../../color-palette"

.navbar
  background: $blue-2
  padding: 8px 24px 8px 16px
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center

.navbar-title
  display: flex
  align-items: center
  &:hover
    cursor: pointer
  &:focus
    outline: none
  h1
    margin: 0
    margin-left: 16px

.navibar-actions
  justify-content: flex-end
  display: flex
  flex-grow: 1
  button
    margin: 0 8px
    &:last-child
      margin-right: 0


  
.title
  .title-string
    font-size: 0.8em


.nav-item
  cursor: pointer
  border: white 1px solid
  margin: 3px
  border-radius: 5px
  .nav-link
    cursor: pointer
    padding-left: 10px

.nav-item:hover
  background: rgba(255, 255, 255, 0.15)


.nav-item.active
  background: rgba(255, 255, 255, 0.15)

.float-add-button
  display: none
  position: fixed
  bottom: 24px
  right: 16px
  z-index: 2
