

<div *ngIf="contact">

  <div class="card">
    <div class="card-header">
      Contact
    </div>
    <div class="card-block">
      <p>Name: <span class="badge badge-default">{{contact.name}}</span></p>
      <p>Email:  <span class="badge badge-default">{{contact.email}}</span></p>
      <p>Phone:  <span class="badge badge-default">{{contact.phone}}</span></p>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="onEdit.emit(contact)" class="btn btn-sm btn-outline-warning"> EDIT</button>
        <button (click)="onDelete.emit(contact)"  class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>

    </div>
  </div>

</div>

