<form (submit)="submit()" class="form" [formGroup]="form">
  <mat-card class="contact-card">
    <mat-card-header class="contact-card-title">
      <mat-card-title>
        <h2 class="mt0">New contact</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="contact-card-info">
      <div class="flex f-align-center mb8">
        <mat-icon class="mr8">person</mat-icon>
        <mat-form-field class="width-stretch">
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
      <div class="flex f-align-center mb8">
        <mat-icon class="mr8">email</mat-icon>
        <mat-form-field class="width-stretch">
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </div>
      <div class="flex f-align-center mb8">
        <mat-icon class="mr8">smartphone</mat-icon>
        <mat-form-field class="width-stretch">
          <input matInput type="text" formControlName="phone" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="contact-card-action">
      <button mat-stroked-button color="primary" [disabled]="!form.valid">Add contact</button>
    </mat-card-actions>
  </mat-card>
</form>