<form (submit)="submit()"  class="form" [formGroup]="form">

  <div class="form-group">
    <label for="first-name-input">First Name:</label>
    <input id="first-name-input" type="text" class="form-control" formControlName="firstName">
  </div>

  <div class="form-group">
    <label for="last-name-input">Last Name:</label>
    <input id="last-name-input" type="text" class="form-control" formControlName="lastName">
  </div>

  <div class="form-group">
    <label for="email-input">Email:</label>
    <input id="email-input" type="email" class="form-control" formControlName="email">
  </div>



  <div class="form-group">
    <label for="phone-input"> avatar:</label>
    <input id="phone-input" type="tel" class="form-control" formControlName="avatar">
  </div>


  <div class="form-group">
    <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-success float-right">
      Submit
    </button>
  </div>

</form>
