<table *ngIf="contacts; else loading" class="table table-hover table-responsive-md">
  <thead class="header">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Avatar</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr class="contact-row" *ngFor="let c of contacts; trackBy: contactsTrackByFn">
    <th scope="row">{{c.id}}</th>
    <td>
      <span [innerHtml]="c.first_name | highLightText:keyword"></span>
      <span>&nbsp; </span>
      <span [innerHtml]="c.last_name | highLightText:keyword"> </span>
    </td>


    <td [innerHtml]="c.email | highLightText:keyword">
    </td>
    <td class="avatar"><img [src]="c.avatar"></td>
    <td>

      <span class="float-right">

        <button (click)="showDetails(c)" class="btn btn-outline-primary mb-1 btn-sm">
          DETAILS
        </button>

        <button (click)="editContact(c)" class="btn btn-outline-primary mb-1 btn-sm">
          EDIT
        </button>

        <button (click)="deleteContact(c)" class="btn btn-outline-danger mb-1 btn-sm">
          DELETE
        </button>

      </span>

    </td>
  </tr>

  </tbody>
</table>

<ng-template #loading>
  <span>loading contacts...</span>
</ng-template>
