

<div class="contact-details-container" *ngIf="contact">

  <div class="card">
    <div class="card-header">
      Contact
    </div>
    <div class="card-body">
      <p>First Name: <span class="badge badge-primary">{{contact.first_name}}</span></p>
      <p>First Name: <span class="badge badge-primary">{{contact.last_name}}</span></p>
      <p>Email:  <span class="badge badge-primary">{{contact.email}}</span></p>
      <p>Avatar:  <span class="badge badge-primary">{{contact.avatar}}</span></p>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="edit.emit(contact)" class="btn btn-sm btn-outline-primary"> EDIT</button>
        <button (click)="remove.emit(contact)" class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>

    </div>
  </div>

</div>

