<app-contact-card-view class="contact-card-stretch" [cardTitleTemplate]="cardTitleTemplate"
  [cardInfoTemplate]="cardInfoTemplate" [cardActionTemplate]="cardActionTemplate">
  <ng-template #cardTitleTemplate>
    Contact details
  </ng-template>
  <ng-template #cardInfoTemplate>
    <div class="flex f-align-center mb8">
      <mat-icon class="mr8">person</mat-icon>{{contact.name}}
    </div>
    <div class="flex f-align-center mb8">
      <mat-icon class="mr8">email</mat-icon>{{contact.email}}
    </div>
    <div class="flex f-align-center mb8">
      <mat-icon class="mr8">smartphone</mat-icon>{{contact.phone}}
    </div>
  </ng-template>
  <ng-template #cardActionTemplate>
    <button (click)="edit.emit(contact)" mat-stroked-button color="primary">Edit</button>
    <button (click)="remove.emit(contact)" mat-stroked-button color="warn">Delete</button>
  </ng-template>
</app-contact-card-view>