<nav class="navbar navbar-toggleable-md navbar-light bg-faded">



  <ul class="navbar-nav">

    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <button class=" btn btn-outline-primary btn-sm " routerLink="/contacts/"> INDEX </button>
    </li>

    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <button class=" btn btn-outline-success btn-sm "  routerLink="/contacts/new"> ADD </button>
    </li>

  </ul>


</nav>
<br>


<router-outlet></router-outlet>