<span class="footer-item">
  Created by
  <a target="_blank" rel="noopener" href="https://twitter.com/avatsaev">
    <i class="fa fa-twitter"></i>@avatsaev
  </a>
</span>
<span class="footer-item">
  Source code on
  <a target="_blank" rel="noopener" href="https://github.com/avatsaev/angular-contacts-app-example">
    <i class="fa fa-github"></i>GitHub
  </a>
</span>
<span class="footer-item">
  <button (click)="changeTheme()" mat-icon-button color="primary">
    <mat-icon>brush</mat-icon>
  </button>
</span>