.footer
  display: flex
  flex-wrap: wrap
  flex-shrink: 0
  justify-content: center
  align-items: center
  padding: 24px
  font-size: 14px
  background: rgba(0,0,0, 0.2)

.footer-item
  padding: 2px 8px
