.contact-card
    color: #F5F5F5
    background: #424242
    border: 1px solid #00000033
    min-width: 250px
    max-width: 250px


.contact-card-title
    h2
        font-size: 20px
        margin: 0 0 24px -16px

.contact-card-info
    color: #BDBDBD
    margin-bottom: 24px

.contact-card-action
    display: flex
    justify-content: space-around

