<mat-card class="contact-card">
  <mat-card-header class="contact-card-title">
    <mat-card-title>
      <h2 class="mt0">
        <ng-container *ngTemplateOutlet="cardTitleTemplate"></ng-container>
      </h2>
    </mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>EDIT</span>
      </button>
      <button  color="warn" mat-menu-item >
        <mat-icon>delete</mat-icon>
        <span>DELETE</span>
      </button>

    </mat-menu>
  </mat-card-header>
  <mat-card-content class="contact-card-info">
    <span *ngTemplateOutlet="cardInfoTemplate"></span>
  </mat-card-content>
  <mat-card-actions class="contact-card-action">
    <span *ngTemplateOutlet="cardActionTemplate"></span>
  </mat-card-actions>
</mat-card>
