<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    Angular contacts
    <span class="page title" *ngIf="title">
      - <span class="title-string">{{title}}</span>
    </span>
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">


    </ul>

  </div>
</nav>