.contact-card-action, .footer-item
    .mat-stroked-button.mat-primary:not([disabled]), .mat-icon-button
        color: $action_items
.mat-form-field.mat-focused .mat-form-field-ripple
    background-color: $action_items


.blade-theme
  a
    color: $action_green
  .navbar
    background: $purple !important
  .contact-card-action, .footer-item 
    .mat-stroked-button.mat-primary:not([disabled]), .mat-icon-button
        color: $action_green !important
  .mat-form-field.mat-focused .mat-form-field-ripple
    background-color: $action_green
