.contact-card-action, .footer-item
  .mat-stroked-button.mat-primary:not([disabled]), .mat-icon-button.mat-primary
    color: $action_items

.contact-card-action
  .mat-flat-button
    &.mat-primary:not([disabled])
      background-color: $action_items

.mat-form-field.mat-focused .mat-form-field-label
  color: $action_items
.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-fab.mat-primary
  background-color: $action_items
.mat-input-element 
  caret-color: $action_items
