$dark-1: #26282F;
$dark-2: #323337;
$dark-3: #38393f;
$dark-4: #4a4a53;

$light-1: #ECF0F1;
$light-2: #c2c6c7;
$light-3: #999c9d;
$light-4: #6f7273;

$green-1: #00391E;
$green-2: #005F35;
$green-3: #007D51;
$green-4: #009C68;

$teal-1: #00312A;
$teal-2: #004940;
$teal-3: #045D56;
$teal-4: #00837B;

$red-1: #620002;
$red-2: #8C0000;
$red-3: #B50000;
$red-4: #DF0000;

$orange-1: #E83400;
$orange-2: #F75500;
$orange-3: #FF7000;
$orange-4: #FF8500;

$blue-1: #005CCC;
$blue-2: #0077E5;
$blue-3: #0082FB;
$blue-4: #009BFF;
