/* You can add global styles to this file, and also import other style files */
@import "variables.scss"

html, body
  height: 100%

body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif
  background: #424242
  color: #F5F5F5

button
  cursor: pointer

a
  color:  $action_items

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1


.btn
  margin: 3px

.p12
  padding: 12px

.pt24
  padding-top: 24px

.pb24
  padding-top: 24px

.mt0
  margin-top: 0

.mr4
  margin-right: 4px

.mb8
  margin-bottom: 8px

.width-stretch
  width: 100%

.height-stretch
  height: 100%

.flex 
  display: flex
  &.f-row
    flex-direction: row
  &.f-col
    flex-direction: column
  .f-grow-1
    flex-grow: 1
  .f-align-center
    align-items: center
     
